# HalideバイナリファイルのみをLFSで管理
third_party/halide/win/lib/Halide.lib filter=lfs diff=lfs merge=lfs -text
third_party/halide/mac/lib/libHalide*.dylib filter=lfs diff=lfs merge=lfs -text
third_party/halide/win/bin/Halide.dll filter=lfs diff=lfs merge=lfs -text

# ヘッダーファイルは通常のGitで管理（LFSから除外）
third_party/halide/include/*.h -filter -diff -merge text
